.date-info {
  padding: 15px 4.445%;
  background: #f8f8f8;
  span {
    color: #999999;
    font-size: 14px;
  }
}
.section1 {
  padding: 4.445%;
  padding-bottom: 0;
  border-bottom: 4px solid #f8f8f8;
  .lecture_title {
    .sub_title {
      font-size: 14px;
      color: #999999;
    }
    .title {
      font-size: 18px;
      color: #333333;
      word-wrap: break-word;
      word-break: break-all;
    }
  }
  .star_rating {
    margin: 5px 0;
    ::v-deep .vue-star-rating {
      display: unset;
      .vue-star-rating-rating-text {
        font-size: 16px;
        color: #333333;
        margin-left: 4px;
        display: inline-block;
        vertical-align: 1.5px;
      }
    }
  }
  .price {
    span {
      font-weight: bold;
    }
    .original {
      font-size: 14px;
      color: #bdbdbd;
    }
    .final {
      margin-left: 5px;
      font-size: 18px;
      color: #114fff;
    }
  }
  #tag_wrap {
    .tag_list {
      margin-top: 5px;
      line-height: 35px;
      .tag {
        color: #a4a4a4;
        border: 2px solid #757575;
        border-radius: 20px;
        height: 24px;
        padding: 0 10px;
        display: inline-block;
        margin-right: 0.763%;
        font-size: 12px;
        text-align: center;
        line-height: 24px;
        font-family: unset;
      }
    }
  }
  .free {
    margin-top: 10px;
    font-size: 18px;
  }
  .coupon_wrap {
    margin-top: 15px;
    .txt {
      font-size: 18px;
      display: inline-block;
      height: 46px;
      line-height: 46px;
      vertical-align: middle;
      width: 80%;
      text-align: center;
      font-weight: bold;
      border: 1px solid #dbdbdb;
      box-sizing: border-box;
      border-right: 0;
    }
    .coupon_section {
      background-color: #ff114a;
      width: 20%;
      height: 46px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      box-sizing: border-box;
      border: 1px solid #ff114a;
      .get_coupon {
        vertical-align: middle;
        background: url("~src/assets/images/lec_detail/discount_ico.png")
          no-repeat center center / 24px 22px;
        display: inline-block;
        width: 24px;
        height: 26px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
  .quantity {
    margin-top: 5px;
    .count {
      font-size: 14px;
    }
  }
  #subscribe {
    .subscribe_wrap {
      .blue_btn {
        ::v-deep button {
          border-radius: 10px;
          margin: 10px 0;
          height: 40px;
          line-height: 32px;
          font-size: 18px;
        }
      }
      .total_lec {
        font-size: 1.375rem;
        .color {
          color: #114fff;
        }
      }
      .name {
        font-size: 1.375rem;
        color: #666666;
      }
      .score {
        font-size: 1.375rem;
        color: #333333;
        vertical-align: middle;
        margin-left: 2%;
      }
    }
    .fixed_subs_btn {
      position: fixed;
      bottom: 0;
      background: #114fff;
      width: 100%;
      max-width: 720px;
      z-index: 2;
      left: 0;
      right: 0;
      margin: auto;
      .add_btn,
      .share_btn {
        white-space: nowrap;
        text-indent: 100%;
        overflow: hidden;
        height: 64px;
        width: 20%;
      }
      .free_lecture_btn {
        width: 100%;
        display: block;
        height: 64px;
        line-height: 64px;
        background: transparent;
        font-family: "NotoSansCJKkr-Medium";
        font-size: 20px;
        color: #ffffff;
      }
      .purchase_btn {
        background: transparent;
        width: 60%;
        font-family: "NotoSansCJKkr-Medium";
        font-size: 20px;
        vertical-align: middle;
        color: #ffffff;
        text-align: center;
      }
      .add_btn {
        border-right: 1px solid #ccc;
        background: #333333
          url("~src/assets/images/lec_detail/fixed_lecture_add_ico.png")
          no-repeat center / 28px 27px;
      }
      .share_btn {
        background: #333333
          url("~src/assets/images/lec_detail/fixed_share_ico.png") no-repeat
          center / 28px 27px;
      }
      .active_subscribe {
        background-color: #ff114a;
        border-color: #ff114a;
        width: 100%;
        font-size: 20px;
        color: white;
        height: 64px;
      }
    }
  }
}
.section2 {
  padding: 4.445%;
  border-bottom: 4px solid #f8f8f8;
  .user_intro {
    .total_lec,
    .access_limit {
      font-size: 14px;
    }
    .teacher-profile-info {
      margin-bottom: 10px;
      .teacher-profile {
        width: 60px;
        height: 60px;
        display: inline-block;
        border-radius: 50px;
        vertical-align: middle;
      }
      .teacher-name {
        font-size: 14px;
        margin-left: 15px;
        vertical-align: middle;
      }
    }
  }
  .name {
    font-size: 14px;
  }
}
.curriculum {
  margin-top: 30px;
  padding: 0 4.445%;
  .curriculum_header {
    position: relative;
    .curriculum_title {
      display: inline-block;
      vertical-align: middle;
      font-size: 18px;
    }
    .subscribe_btn {
      vertical-align: middle;
      border-radius: 5px;
      margin-left: 3%;
      width: 23%;
      height: 22px;
      font-family: inherit;
      font-size: 12px;
      color: #114fff;
      border: 1px solid #114fff;
    }
    .total_lec {
      font-size: 1.25rem;
      color: #333333;
      line-height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      height: 50%;
    }
  }
  .curriculum_list {
    div {
      margin-top: 10px;
      .complete-ico {
        color: #999999;
        font-size: 1.25rem;
        vertical-align: middle;
        margin-left: 1%;
        width: 22%;
        display: inline-block;
      }
      .ing-ico {
        @extend .complete-ico;
        color: #114fff;
      }
      .full-title,
      .lec_num {
        font-size: 1.25rem;
        color: #333333;
        background: #f8f8f8;
        padding: 10px 15px;
        box-sizing: border-box;
        border-radius: 100px;
        display: inline-block;
      }
      .full-title {
        width: 100%;
        border-radius: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .not-full-title {
        display: inline-block;
        width: 74%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        vertical-align: middle;
        font-family: unset;
        .lec-title-section {
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: calc(100% - 23%);
          vertical-align: middle;
        }
      }

      .lec_num {
        width: 24%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: 2%;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
      }
      .child-list {
        margin-top: 0;
        padding: 0 15px;
        .child-list-title {
          width: 100%;
          box-sizing: border-box;
          display: inline-block;
          font-size: 1.25rem;
          color: #333333;
          .child-title-section {
            max-width: 66%;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            vertical-align: middle;
          }
          .ing-ico,
          .complete-ico {
            width: 16%;
          }
        }
      }
    }
  }
}
