.user-info {
  background: #343536;
  width: 100%;
  padding: 15px 30px;
  box-sizing: border-box;
  .profile {
    border-radius: 50%;
    overflow: hidden;
    width: 80px;
    height: 80px;
    display: inline-block;
    vertical-align: middle;
  }
  .info {
    width: calc(100% - 110px);
    vertical-align: middle;
    display: inline-block;
    margin-left: 30px;
    .name {
      color: #ffffff;
      font-weight: 500;
      font-size: 18px;
    }
    .class {
      font-weight: 500;
      font-size: 18px;
      font-weight: 100;
      margin-left: 3%;
    }
    .email {
      color: #999999;
      font-size: 16px;
      margin-bottom: 5px;
    }
    .report {
      font-size: 12px;
      font-weight: 600;
      color: #114fff;
      border-radius: 4px;
      margin-right: 5%;
      width: 38%;
      padding: 0 10px;
      height: 25px;
      line-height: 27px;
      display: inline-block;
      box-sizing: border-box;
      background: url("~src/assets/images/common/profile_active_ico.png")
        no-repeat 100%-10 center/ 12px 12px;
      background-color: white;
      span {
        font-weight: 600;
      }
    }
    .convert {
      font-size: 12px;
      font-weight: 600;
      color: #114fff;
      border-radius: 4px;
      width: 38%;
      padding: 0 4.5px;
      height: 25px;
      line-height: 27px;
      display: inline-block;
      margin-right: 0;
      background: url("~src/assets/images/mylecture_room/convert_ico.png")
        no-repeat 100%-4.5 center / 11.5px 9px;
      background-color: white;
    }
    .update_date {
      font-size: 1rem;
      color: #757677;
      margin-top: 3%;
    }
  }
}
.course_info {
  &:after {
    display: block;
    content: "";
    clear: both;
  }
  li {
    float: left;
    width: 25%;
    text-align: center;
    color: white;
    background-color: #29292a;
    padding: 11px;
    box-sizing: border-box;
    h3,
    span {
      font-size: 10px;
      font-weight: 500;
      color: #dbdbdb;
    }
  }
}
.contents {
  padding: 4.445%;
  padding-top: 0;
  margin-top: 20px;
  h2 {
    font-size: 18px;
    &:not(:first-child) {
      margin-top: 20px;
    }
  }
  .no_register {
    font-size: 14px;
    margin-top: 3px;
    display: inline-block;
  }
  .tr {
    width: 100%;
    margin-top: 3px;
    .td {
      display: inline-block;
      font-size: 14px;
      color: #666666;
      vertical-align: middle;
    }
    .td1 {
      width: 60%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .td2 {
      font-weight: bold;
      width: 40%;
      text-align: right;
      color: #333333;
    }
    .date {
      color: black;
      font-weight: bold;
    }
  }
  .subscribed_lec {
    .td_wrap {
      width: 40%;
      text-align: right;
      vertical-align: middle;
      display: inline-block;
      .progress_bar {
        width: 45%;
        margin: 0;
        margin-left: 5px;
        height: 16px;
        position: relative;
        border: 1px solid #cacaca;
        .percent {
          color: #757575;
          height: 12px;
          line-height: 13px;
          text-align: center;
          font-size: 12px;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          margin: auto;
          z-index: 2;
        }
      }
    }
  }
}
.timeLine {
  margin-top: 20px;
  .title {
    font-size: 18px;
  }
  .timeline_txt {
    font-size: 15px;
    margin-top: 5px;
  }
  .table {
    display: table;
    width: 100%;
    margin-top: 1%;
    .td {
      display: table-cell;
      font-size: 1.5rem;
      color: #666666;
    }
    .td1 {
      width: 70%;
    }
    .td2 {
      width: 30%;
      font-weight: bold;
      text-align: right;
      color: #333333;
    }
  }
}
