.search {
  position: relative;
  &:after {
    display: block;
    content: "";
    clear: both;
  }
  .select {
    width: 28%;
    float: left;
    border: 1px solid #333333;
    padding: 0 1.755%;
    line-height: 2.3;
    font-size: 1.25rem;
    color: #333333;
    background: url("~src/assets/images/lec_list/arrow_ico.png") no-repeat 92%
      center / 7px 5px;
  }
  .search-input {
    float: left;
    border: 1px solid #333333;
    color: black;
    font-size: 1.25rem;
    width: 100%;
    line-height: 2.3;
    padding: 0 1.755%;
    padding-right: 10%;
    box-sizing: border-box;
    outline: none;
    // background: url("~@/assets/images/lec_list/search_btn.png") no-repeat 95%
    //   center / 12px 12px;
  }
  .search-button {
    background: url("~src/assets/images/lec_list/search_btn.png") no-repeat 95%
      center / 12px 12px;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    margin: auto;
  }
}
