.progress_bar {
  height: 20px;
  position: relative;
  width: 26.4%;
  margin: 5px 10px;
  vertical-align: middle;
  display: inline-block;
  .percent {
    color: #757575;
    height: 12px;
    line-height: 13px;
    text-align: center;
    font-size: 12px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: 2;
  }
  progress {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 1px;
    overflow: hidden;
    height: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
  }
  progress::-webkit-progress-value {
    background: #ecedee;
  }
  progress::-moz-progress-bar {
    background: #ecedee;
  }
  progress::-webkit-progress-bar {
    background: white;
  }
}
