.app {
  max-width: 720px;
  margin: 0 auto;
  position: relative;
  min-height: 100%;
  .mask {
    position: fixed;
    max-width: 720px;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
  }
}
